
<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Hayalinizdeki Eve Bir Tık Uzaktasınız!</p>
                    <h2>Confident Emlak</h2>
                    <div class="most-searches">
                        <h4>Sık Arananlar</h4>
                        <ul>
                            <li><a href="#link">Ev</a></li>
                            <li><a href="#link">Arsa</a></li>
                            <li><a href="#link">Ofis</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option value="123" selected="">Ev</option>
                                <option>Daire</option>
                                <option>Arsa</option>
                                <option>Ofis</option>
                                <option>Building</option>
                                <option>Shop</option>
                                <option>Social housing</option>
                                <option>Town house</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Satılık</option>
                                <option>Kiralık</option>
                                <option>Takas</option>
                                <option>Private house</option>
                                <option>Building</option>
                                <option>Shop</option>
                                <option>Social housing</option>
                                <option>Town house</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">İstanbul</option>
                                <option>Ankara</option>
                                <option>Karabük</option>
                                <option>New York</option>
                                <option>Bangladesh</option>
                                <option>Saudi Arabia</option>
                                <option>America</option>
                                <option>Srilanka</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Kaydır</a>
                </section>
            </div>
        </div>
    </div>
</section>