
<div>
    <div class="footer-grids" style="background:white;font-family: 'Kumbh Sans', sans-serif;">
        <div class="footer one">
            <h3 style="color:black;">Şirketimiz Hakkında</h3>
            <p>
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </p>
            <p class="adam">- Adem İncegeliş, CEO</p>
            <div class="clear"></div>
        </div>
        <div class="footer two">
            <h3 style="color:black;font-family: 'Kumbh Sans', sans-serif;">Sosyal Medya Hesaplarımız</h3>
            <ul class="footers-17_social" >
                <li style="margin-top:10px;"><a class="twitter"><span class="fa fa-twitter"></span> Bizi Tweeter'dan Takip Edin</a></li>
                <li style="margin-top:10px;">
                    <a><span style="background: #3b5998; color: #fff;" class="fa fa-facebook"></span> Bizi Facebook'dan Takip Edin</a>
                </li>
                <li style="margin-top:10px;"><a class="instagram"><span class="fa fa-instagram"></span> Bizi Instagram'dan Takip Edin</a></li>
            </ul>
        </div>

        <div class="col-lg-4 cont-details footer three" style="font-size:14px;">
            <address>
                <h3 style="color:black;font-family: 'Kumbh Sans', sans-serif;">İletişim Bilgilerimiz</h3>
                <p>
                    <span class="fa fa-map-marker"><strong> Adres :</strong></span> Kentkoop, 1864. Cad. NO:11/A, 06100 Yenimahalle/Ankara
                </p>
                <br />
                <p>
                    <span class="fa fa-phone"></span> <strong> Telefon :</strong>
                    <a> +(90) 552 206 6606</a>
                </p>
                <br />
                <p>
                    <span class="fa fa-envelope"></span> <strong> Mail :</strong>
                    <a href="mailto:confident@gmail.com"> confident@gmail.com</a>
                </p>
            </address>
        </div>
        <div class="clear"></div>
    </div>
    <div class="copy-right-grids" style="background:white;">
        <div class="copy-left">
            <p class="footer-gd">© @DateTime.Now.Year Tüm hakları saklıdır. | Berat Korkut Tarafından Oluşturuldu.</p>
        </div>
        <div class="copy-right">
            <ul>
                <li><a href="#">Şirket Bilgileri</a></li>
                <li><a href="#">Gizlilik Politikası</a></li>
                <li><a href="#">Şartlar ve Koşullar</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
