@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdvertLayout.cshtml";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="w3l-contact-10 " id="contact">
            <div class="form-41-mian pt-lg-4 pt-md-3 pb-lg-4">
                <div class="container">
                    <div class="heading text-center mx-auto">
                        <h3 class="title-w3l">Bizimle İletişime Geç</h3>
                    </div>

                    <div class="contacts-5-grid-main mt-5">
                        <div class="contacts-5-grid">
                            <div class="map-content-5">
                                <div class="d-grid grid-col-2 justify-content-center">
                                    <div class="contact-type">
                                        <div class="address-grid">
                                            <span class="fas fa-map-marked-alt"></span>
                                            <h6>Adres</h6>
                                            <p>Kentkoop, 1864. Cad. NO:11/A, 06100 Yenimahalle/Ankara</p>

                                        </div>
                                        <div class="address-grid">
                                            <span class="fas fa-envelope-open-text"></span>
                                            <h6>Mail Adresi</h6>
                                            <a href="mailto:confident@gmail.com" class="link1">confident@gmail.com</a>
                                            <a href="mailto:ademincegelis@gmail.com" class="link1">ademincegelis@gmail.com</a>

                                        </div>
                                        <div class="address-grid">
                                            <span class="fas fa-phone-alt"></span>
                                            <h6>Telefon</h6>
                                            <a class="link1">0552 206 6606</a>
                                            <a class="link1">0552 206 6606</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-inner-cont mt-5 ">
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                            <div class="form-grids address-grid">
                                <div class="form-input">
                                    <input type="text" name="w3lName" id="w3lName" placeholder="İsim *" required="" />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Konu * " required />
                                </div>
                                <div class="form-input">
                                    <input type="email" name="w3lSender" id="w3lSender" placeholder="Mail *" required />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Telefon Numarası *" required />
                                </div>
                            </div>
                            <div class="form-input ">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Mesajınızı buraya yazabilirsiniz" required=""></textarea>
                            </div>
                            <div class="w3-submit text-right">
                                <button class="btn btn-style btn-primary">Mesaj Gönder <i class="fas fa-paper-plane ms-2"></i></button>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
            <!-- //contacts-5-grid -->
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12231.437065920665!2d32.7170142!3d39.9668991!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d337bd3f3d1a7f%3A0x8e6129d5887382e0!2sCONF%C4%B0DENT%20GAYR%C4%B0MENKUL!5e0!3m2!1str!2str!4v1699277991103!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

