
<section class="w3l-team-main team" id="team">
    <div class="container py-lg-5">
        <div class="title-content text-center mb-2">
            <h6 class="title-subw3hny mb-1">Yıllar Süren Tecrübe ve Bilgi Birikimine Sahip</h6>
            <h3 class="title-w3l">Confident Emlak Ekibi</h3>
        </div>
        <div class="row team-row justify-content-center">
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="~/RealHouzing-Starter/assets/images/team1.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-instagram"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="team-title">Berat Korkut</a>
                    <p>Selling Agent</p>
                    <p>+(90) 546 879 1243</p>
                </div>
            </div>
            <!-- end team member -->
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="~/RealHouzing-Starter/assets/images/team2.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="team-title">Adem İncegeliş</a>
                    <p>Ceo</p>
                    <p>+(90) 530 548 7563</p>
                </div>
            </div>
            <!-- end team member -->
            <div class="col-lg-4 col-6 team-wrap mt-lg-5 mt-4">
                <div class="team-member text-center">
                    <div class="team-img">
                        <img src="~/RealHouzing-Starter/assets/images/team3.jpg" alt="" class="radius-image">
                        <div class="overlay-team">
                            <div class="team-details text-center">
                                <div class="socials mt-20">
                                    <a href="#url">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                    <a href="#url">
                                        <span class="fab fa-linkedin-in"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="team-title">Anna Phillips</p>
                    <p>Selling Agent</p>
                    <p>+(90) 530 548 2589</p>

                </div>
            </div>
            <!-- end team member -->
        </div>

    </div>
</section>