@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdvertLayout.cshtml";
}

<link rel="stylesheet" href="~/404Page/css/style.css" type="text/css" media="all" />

<section class="w3l-error-9">
    <div class="error-page">
        <div class="wrapper-full">
            <div class="main-content">
                <h2>Üzgünüz</h2>
                <h4>Bir şeyler ters gitti...</h4>
                <p>Anasayfa'ya dönebilirsiniz veya bu sorun için bizimle iletişime geçebilirsiniz.</p>
                <!-- buttons -->
                <div class="buttons">
                    <a href="/Home/Index/" class="btn brk-btn-bg brk-btn">
                        Ana Sayfa
                    </a>
                    <a href="/Contact/Index/" class="btn brk-btn">
                        İletişim
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

